<!-- Los HTML que son incrustados en otro HTML 'padre', no es necesario colocar todas las lineas de código básicas con el automático <!DOCTYPE html> etc.
ya que los toma toda la configuración del HTML padre -->

        
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Tabla de Proveedores
    </div>
    {% for p in proveedores %}
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>DNI</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{p.id}}</td>
                    <td>{{p.nombre}}</td>
                    <td>{{p.apellido}}</td>
                    <td>{{p.dni}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>

