
<!-- Los HTML que son incrustados en otro HTML 'padre', no es necesario colocar todas las lineas de código básicas con el automático <!DOCTYPE html> etc.
ya que los toma toda la configuración del HTML padre -->

        
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Tabla de Productos
                </div>
                {% for u in productos %}
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Stock Actual</th>
                                <th>Proveedor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{u.id}}</td>
                                <td>{{u.nombre}}</td>
                                <td>{{u.precio}}</td>
                                <td>{{u.stock_actual}}</td>
                                <td>{{u.proveedor}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        
